@{
    ViewData["Title"] = "Trainers";
}
<section class="about" id="about">

    <div class="image">
        <img src=https://gymfacilities.s3.amazonaws.com/blog-4.jpg alt="">
    </div>

    <div class="content">
        <span>Gym Facilities</span>
        <h3 class="title">Personal Trainers</h3>
        <p>Come check out from the variety of personal training sessions available and build your dream body and stau fit at all times</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>Experienced Coach</h3>
                <p>Come check out our gym and learned more about the various coach we have ranging from beginner to expert levels</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Trainers Plan</h3>
                <p>Worry about the price?. Rest assure as we have a suitable payment plan option to cater to everyone needs, to enjoy personal coaching</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Flexible Hours</h3>
                <p>Arrange with the trainer to meet your flexible timing and make for use of the coaching session</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Male or Female</h3>
                <p>Choose from a variety of male and female coaching, to ensure you get the most of your sessions.</p>
            </div>

                         <div class="box">
                <a style="color: white;"  asp-area="" asp-controller="BookingSession" asp-action="Index" asp-route-parameterName="Personal Class" >Book your Session Now</a>
            </div>
        </div>
    </div>

</section>


<h1>Trainers</h1>

