Assigment/.vs/Assigment/FileContentIndex/02f769aa-3b75-46a3-a74b-10e7b06dcf00.vsidx
Assigment/.vs/Assigment/FileContentIndex/2903ff96-a4bd-434d-b26c-b6a9542f242a.vsidx
Assigment/.vs/Assigment/FileContentIndex/676da6b0-f165-4c8a-973b-164d64e1f5a1.vsidx
Assigment/.vs/Assigment/FileContentIndex/7c43415c-a902-4282-884b-82e970dd8f09.vsidx
Assigment/.vs/Assigment/FileContentIndex/read.lock
