@{
    ViewData["Title"] = "Yoga";
}
<section class="about" id="about">

    <div class="image">
        <img src=https://gymfacilities.s3.amazonaws.com/yoga.jpg alt="">
    </div>

    <div class="content">
        <span>Gym Facilities</span>
        <h3 class="title">Yoga</h3>
        <p>Yoga is a form of exercise that combines physical poses, breathing techniques, and mindfulness to promote flexibility, strength, and relaxation. Our yoga classes are suitable for all levels, from beginners to experienced practitioners.</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>body and mind</h3>
                <p>Take a deep dive into our yoga sesssions as yoou calm your body and mind and let the movements come at ease and fill you with peace</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Learn various poses</h3>
                <p>Pick up new yoga moves as your advances throughout the different levels and each move has its benefits and purpose</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Balance</h3>
                <p>Learn how to balance from poses to poses with our trained instructors and climb your way to the top</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Practice mindfulness</h3>
                <p>Treat Yoga as a way of therapy and set your mind at ease with different poses to lead you in peace</p>
            </div>
        </div>
    </div>

</section>


<h1>Yoga</h1>

