@{
    ViewData["Title"] = "Weighlifting_Session";
}
<section class="about" id="about">

    <div class="image">
        <img src=https://gymfacilities.s3.amazonaws.com/Facilities+main/Facilities+main/blog-3.jpg alt="">
    </div>

    <div class="content">
        <span>Gym Facilities</span>
        <h3 class="title">Weighlifting Division</h3>
        <p>Experience the power of lifting weights at our gym, where our expert trainers provide customized programs designed to help you build muscle, increase strength, and achieve your fitness goals. 
           Join us today and take the first step towards transforming your body and mind!</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>Weights</h3>
                <p>Check out our weights and the weight it carries, test your strength with it</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Strength</h3>
                <p>Enhance and build your strength at our gym, with the latest programs</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Weight Machine</h3>
                <p>Enjoy yourselves with our weight machines and build your dream body with it</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Results</h3>
                <p>Show us your strength and elevate your results with our overall equipments</p>
            </div>

              <div class="box">
                <a style="color: white;"  asp-area="" asp-controller="BookingSession" asp-action="Index" asp-route-parameterName="Weightlifting Class" >Book your Session Now</a>
            </div>

        </div>
    </div>

</section>

<h1>Weighlifting_Session</h1>

