
@{
    ViewData["Title"] = "Contact_Us";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style8.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <title>Responsive Contact Us Page in HTML and CSS</title>
</head>
<body>
    <div class="container">
        <div class="contact_data2">
            <ul>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <strong>Location:</strong>
                    <p>12, Jalan Puteri 6/8, Bandar Puteri Puchong, 47100 Puchong, Selangor</p>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <strong>Email:</strong>
                    <p>Flexzone_Fitness@gmail.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <strong>Call:</strong>
                    <p>+603-4938-3841</p>
                </li>
            </ul>
            <div class="map">
                <iframe src="https://maps.google.com/maps?q=12, Jalan Puteri 6/8, Bandar Puteri Puchong, 47100 Puchong, Selangor&t=&z=12&ie=UTF8&iwloc=&output=embed"
                        width="600"
                        height="450"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</body>
</html>
<h1>Contact_Us</h1>

