
@{
    ViewData["Title"] = "Locations";
}
<section class="facilities" id="facilities">

    <h1 class="heading"><span>  Our Locations</span> </h1>

    <div class="box-container">
        <div class="box">
            <div class="content">
                <h3>1 Mont Kiara</h3>
                <p>Unit No L2-17 & L2-18, 1 Mont' Kiara, No.1, Jalan Kiara, 50480 Mont Kiara, Kuala Lumpur</p>
                <p>1300-222-348</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>KLANG BUKIT TINGGI</h3>
                <p>Lot S12, AEON Bukit Tinggi Shopping Center, No.1, Jalan Persiaran Batu Nilam 1/KS6, Bandar Bukit Tinggi 2, 41200 Klang, Selangor</p>
                <p>1300-222-761</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>Melawati Mall</h3>
                <p>Level 6 & 6M, Melawati Mall, 355, Jalan Bandar Melawati,, 53100 Pusat Bandar Melawati, Kuala Lumpur</p>
                <p>1300-222-209</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>PARADIGM MALL PJ</h3>
                <p>Lot GB 03, Level G, Paradigm Mall, No.1, Jalan SS 7/ 26A, 47301 Petaling Jaya, Selangor</p>
                <p>1300-222-708</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>THE CURVE</h3>
                <p>G70, Ground Floor, The Curve, No.6, Jalan PJU 7/3, Mutiara Damansara, 47800 Petaling Jaya, Selangor</p>
                <p>1300-222-332</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>THE GARDENS MALL (MID VALLEY)</h3>
                <p>Lot FF-222A & 228, 4th & 5th Floor, The Gardens Mall, Lingkaran Syed Putra, 58000 Mid Valley City, Kuala Lumpur</p>
                <p>1300-222-391</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>IOI MALL PUCHONGa</h3>
                <p>Lot ES 8 & 9, Level 2, IOI Mall, Batu 9, Jalan Puchong, Bandar Puchong Jaya, 47100 Puchong, Selangor</p>
                <p>1300-222-328</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>EMPIRE SUBANG</h3>
                <p>Unit B-08-01, Level 8 Soho, Empire Subang, Jalan SS16/1, 47500 Subang Jaya, Selangor</p>
                <p>1300-222-924</p>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>AVENUE K</h3>
                <p>Lot No: L2-28 - 32, Level 2, Avenue K, No.156, Jalan Ampang, 50450 Ampang, Kuala Lumpur/p>
                <p>1300-222-067</p>
            </div>
        </div>
    </div>

</section>

<h1>Locations</h1>


