@{
    ViewData["Title"] = "Pilates";
}
<section class="about" id="about">

    <div class="image">
        <img src=https://gymfacilities.s3.amazonaws.com/pilates.jpg alt="">
    </div>

    <div class="content">
        <span>Gym Facilities</span>
        <h3 class="title">Pilates</h3>
        <p>Pilates is a form of low-impact exercise that emphasizes core strength, flexibility, and muscle endurance. It's a great way to improve posture, balance, and coordination while also toning and sculpting the body.</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>Endurance</h3>
                <p>Having a weak core and endurance. Pick up pilates from our trainers and learned different moves to strengthen your body</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Diet Plan</h3>
                <p>As pilates help keep you in shape, pick up various moves and ensure you have a healthy diet plan and watching out what to eat</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Better posture and alignment</h3>
                <p>Fearing a terrible and poor posture. Keep your body align with a strong core and secure yourselves with a sturdy posture</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Improve breathing and circulation</h3>
                <p>Having trouble breathing properly and having a poor airflow circulation,Pilates is just what you need to get started on a better breathing airflow.</p>
            </div>
        </div>
    </div>

</section>


<h1>Pilates</h1>

