
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 <form asp-action="SendEmailUsingSendGrid" asp-controller="SendEmail" >
      <button type="submit" class="edit-delete-btn">
              <span class="material-symbols-outlined edit">Edit</span>
      </button>
</form>

