@model Assigment.Models.gymSession
@{
    ViewData["Title"] = "EditGymSession";
}

<div>
    <h1>Edit Gym Session</h1>
    <br>
    <form method="post" asp-action="UpdateProcessData" asp-controller="GymSession" enctype="multipart/form-data">

      @*Trainer Name*@
      <div class="form-group row">
        <label for="gymSession_TrainerName" class="col-sm-2 col-form-label">Trainer Name</label>
        <div class="col-sm-10">
          <input asp-for="gymSession_TrainerName" type="text" class="form-control" id="trainerName" placeholder="gymSession_TrainerName" >
        </div>
      </div>

      @*Category*@
      <div class="form-group row">
        <label for=" gymSession_Category" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
          <select class="form-control" id="gymSession_Category" asp-for="gymSession_Category">
              <option>Weighlifting Class</option>
              <option>Boxing Class</option>
              <option>Spin/Cycling Class</option>
              <option>Personal Class</option>
              <option>Pilates Class</option>
              <option>Yoga Class</option>
          </select>
        </div>
      </div>


      @*Slots *@
      <div class="form-group row">
        <label for="gymSession_TrainerName" class="col-sm-2 col-form-label">Slots</label>
        <div class="col-sm-10">
            <input asp-for="gymSession_Slots" type="number" class="form-control" id="gymSession_TrainerName" placeholder="Enter a number">
        </div>
      </div>

      @*Date *@
      <div class="form-group row">
        <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <input asp-for="gymSession_Date" type="date" class="form-control" id="date">
        </div>
      </div>

      @*Time Slotes*@
      <div class="form-group row">
        <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Time Slots</label>
        <div class="col-sm-10">
          <select class="form-control" id="time" asp-for="gymSession_Time">
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-2">Upload Image</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="editImageCheckbox" onchange="toggleFileInput()">
            <label class="form-check-label" for="editImageCheckbox">
              Edit Existing Image
            </label>
          </div>
          <input type="hidden" asp-for="IsImageUpdated" id="isImageUpdated">
        </div>
    </div>
@*
       <div  class="form-group row">
         <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Upload Image</label>
         <div class="col-sm-10">
          <input asp-for="gymSession_Trainer_Image_URL" type="file" name="imagefile"  class="form-control" id="date" value="@Model.gymSession_Trainer_Image_URL">

          </div>
      </div>*@

  
      @*Submit Button*@
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>

    </form>

     <script>
      function toggleFileInput() {
    var checkbox = document.getElementById("editImageCheckbox");
    var fileInput = document.getElementById("gymSession_Trainer_Image_URL");
    var isImageUpdated = document.getElementById("isImageUpdated");
    var previous = document.getElementById("gymSession_Trainer_Prev_Image_URL");
    if (checkbox.checked) {
      fileInput.style.display = "block";
      isImageUpdated.value = true;
      previous=@Model.gymSession_Trainer_Image_S3Key;
    } else {
      fileInput.style.display = "none";
      isImageUpdated.value = false;
    }
  }
    </script>
</div>

