@model Assigment.Models.gymSession
@{
    ViewData["Title"] = "EditGymSession";
}
 <style>
     .form-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    }

    .no-border-input {
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
 </style>

<div class="container form-container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Edit Gym Session</h1>
            <br>
        <form method="post" asp-action="UpdateProcessData" asp-controller="GymSession" enctype="multipart/form-data">
            <div class="row">
                    <div class="col-md-6">
                                @*Trainer Name*@
                                <div class="form-group">
                                    <label for="gymSession_TrainerName" class="col-form-labell">Trainer Name</label>
                                    <input asp-for="gymSession_TrainerName" type="text" class="form-control" id="trainerName" placeholder="gymSession_TrainerName">
                                </div>

                                  @*Category*@
                                  <div class="form-group">
                                    <label for=" gymSession_Category" class="col-form-label">Category</label>
      
                                      <select class="form-control" id="gymSession_Category" asp-for="gymSession_Category">
                                          <option>Weights</option>
                                          <option>Legs</option>
                                          <option>Tool</option>
                                          <option>Test</option>
                                          <option>Work</option>
                                      </select>
                                  </div>


                                  @*Slots *@
                                  <div class="form-group">
                                    <label for="gymSession_TrainerName" class="col-form-label">Slots</label>
                                        <input asp-for="gymSession_Slots" type="number" class="form-control" id="gymSession_TrainerName" placeholder="Enter a number">
                                  </div>

                                  @*Date *@
                                  <div class="form-group ">
                                    <label for="inputDate" class="col-form-label">Date</label>
                                      <input asp-for="gymSession_Date" type="date" class="form-control" id="date">
                                  </div>

                                  @*Time Slotes*@
                                  <div class="form-group ">
                                    <label for="exampleFormControlSelect1" class="col-form-label">Category</label>
                                      <select class="form-control" id="time" asp-for="gymSession_Time">
                                          <option>Morning</option>
                                          <option>Afternoon</option>
                                          <option>Evening</option>
                                      </select>
 
                                  </div>

              
                                    @*Submit Button*@
                                  <div class="form-group text-right">
                                      <button type="submit" class="btn btn-primary">Edit Details</button>
                                    </div>
                                  </div>

                               <div class="col-md-6">
		                          <div class="form-group">
				                        <div class="">Upload Image</div>
						                        <div class="form-check">
							                        <input class="form-check-input" type="checkbox" id="editImageCheckbox" onchange="toggleFileInput()">
							                        <label class="form-check-label" for="editImageCheckbox">
								                        Edit Existing Image
							                        </label>
						                        </div>
						                        <input type="hidden" asp-for="gymSession_Trainer_Image_URL" id="gymSession_Trainer_Image_URL" value="@Model.gymSession_Trainer_Image_URL" required>
						                        <input type="file" name="imagefile" class="form-control" id="fileInput" style="display: none;">
				                        </div>
			                        </div>
		                        </div>

                <input type="hidden" asp-for="gymSession_ID" />
                <input type="hidden" asp-for="gymSession_IsImageUpdated" id="gymSession_isImageUpdated" />
                <input type="hidden" asp-for="gymSession_Trainer_Prev_Image_URL" id="gymSession_Trainer_Prev_Image_URL" />
                <input type="hidden" asp-for="gymSession_Trainer_Image_S3Key" id="gymSession_Trainer_Image_S3Key" />

  
                </form>
                <script>
                  function toggleFileInput() {
                        var checkbox = document.getElementById("editImageCheckbox");
                        var fileInput = document.getElementById("fileInput");
                        var isImageUpdated = document.getElementById("gymSession_IsImageUpdated");
                        var previous = document.getElementById("gymSession_Trainer_Prev_Image_URL");
                        if (checkbox.checked) {
                          fileInput.style.display = "block";
                          isImageUpdated.value = true;
                          previous=@Model.gymSession_Trainer_Image_S3Key;
                        } else {
                          fileInput.style.display = "none";
                          isImageUpdated.value = false;
                             }
                        }
                </script>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("gymSessionForm").addEventListener("submit", function (event) {
            var imageFile = document.getElementById("gymSession_Trainer_Image_URL");
            if (!imageFile.files.length) {
                event.preventDefault();
                alert("Please upload an image.");
            } else {
                var file = imageFile.files[0];
                if (file.size > 1048576) { // not more than 1MB
                    event.preventDefault();
                    alert("The uploaded file is over the 1MB size limit. Please upload a smaller file.");
                } else {
                    var fileType = file.type.toLowerCase();
                    if (fileType !== "image/png" && fileType !== "image/jpeg" && fileType !== "image/gif") {
                        event.preventDefault();
                        alert("The uploaded file is not a valid image. Please upload a PNG, JPEG, or GIF image.");
                    }
                }
            }
        });
    </script>
}


