
@{
    ViewData["Title"] = "Boxing";
}
<section class="about" id="about">

    <div class="image">
        <img src=https://gymfacilities.s3.amazonaws.com/boxing.jpg alt="">
    </div>

    <div class="content">
        <span>Gym Facilities</span>
        <h3 class="title">Boxing Sessions</h3>
        <p>We offer boxing classes as part of our fitness program. Boxing is a high-intensity workout that involves punching a heavy bag, shadowboxing, and other exercises that build cardiovascular endurance and muscular strength. Our boxing classes are suitable for all levels, from beginners to experienced boxers. </p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>Better hand-eye coordination</h3>
                <p>Feeling like you have weak and slow hand-eye movements, not to worry as boxing helps improve on your coordination and see things better</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Reduced stress and tension in body</h3>
                <p>Always feeling stressed and stif muscles in your body. Pick up boxing and release these tension and stress with a punch</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Enhanced self-defense skills</h3>
                <p>Tired of getting picked on or just wanting to protect yourselves, learn boxing and teach those bullies a lesson and keep yourself save and sound</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Increased agility and speed</h3>
                <p>Get faster and swift as you learned various boxing moves from our qualified instructors and box your way to the top</p>
            </div>
        </div>
    </div>

</section>

<h1>Boxing</h1>

