@{
    ViewData["Title"] = "Spin";
}
<section class="about" id="about">

    <div class="image">
        <img src=https://gymfacilities.s3.amazonaws.com/spin.jpg alt="">
    </div>

    <div class="content">
        <span>Gym Facilities</span>
        <h3 class="title">Spin Classes</h3>
        <p>Try a spin class for free!" Spin class is a group fitness experience that allows you to ride stationary bikes in a studio setting with the guidance of an instructor. </p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>Spin instructors</h3>
                <p>Check out our variety of spin instructors and select the best to coach you from scratch</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>healthy life</h3>
                <p>Spin your way in leading yourselves to a healthy life and be at the top</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Group fitness</h3>
                <p>Most classes are conducted in groups and meet amazing people who are interestted in spin as you are</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>Personal spin</h3>
                <p>Opt for a personal 1 to 1 spin session with a trainer if you prefer a more private session</p>
            </div>
        </div>
    </div>

</section>


<h1>Spin</h1>

